$basefont: var(--font-inter);

$baseclr: #0DC2FF;
$white: white;
$black: black;
$gradient: linear-gradient(180deg, #1FECFF 0%, #009DFF 100%);
$gradient2: linear-gradient(0deg, #1FECFF 0%, #009DFF 100%);

$bodybg: #1B1B1B;
$redclr: red;
$disabledbg: #393838;
$black29: #292929;
$gray90: #909090;