@import "../../../public/theme/_var.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 980;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid transparent;
    transition: 300ms ease-in-out;

    &.scrolled {
        border-bottom-color: rgba($white, 0.1);
        backdrop-filter: blur(0.8rem);
    }

    .header_in {
        @media (max-width: 575px) {
            display: flex;
            justify-content: center;
        }

        .logo {
            img {
                width: 17.4rem;

                @media (max-width: 991px) {
                    width: 12rem;
                }
            }
        }
    }
}